**/.DS_Store

ansible/staging/inventory.yaml
ansible/staging/config.yaml
ansible/staging/.ansible_vars.yml
ansible/production/inventory.yaml
ansible/production/.ansible_vars.yaml
ansible/production/configs/
