apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ollama
#resources:
#  - ../../base/ollama/

#  - storage.yaml
#  - preload-models-secret.yaml

#patchesStrategicMerge:
#  - deployment_overwrite.yaml
